<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h1 class="ribbon">Contact Us</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>What's next? Get in touch with us</h3>
        <p class="lead">Let's get a conversation started or feel free to drop us a message. <br>We look forward to hearing from you.</p>
        <address class="location">
          <i class="icon fa fa-map-marker"></i>
          <strong>WDS</strong> A Xerox Company <br>
          8 Kallang Avenue. <br>
          Aperia Tower 1, #06 - 07/08 <br>
          Singapore 339509
        </address>
        <a href="#"><i class="icon fa fa-envelope"></i> designer@wds.co</a>
      </div>
    </div>
  </div>
  <!-- <div class="scaling-svg-container pencil-bottom">
    <svg class="scaling-svg">
      <use xlink:href="#shape-pencil" />
    </svg>
  </div> -->
  <div id="map"></div>
</section><!--/.contact-->