<section id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h1 class="ribbon">Get In Touch</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="bubble">
          <h3 class="text-primary">What's next? Get in touch with us</h3>
          <p class="lead">Let's get a conversation started or feel free to drop us a message. <br>We look forward to hearing from you.</p>
          <address class="location">
            <i class="icon fa fa-map-marker"></i>
            <strong>WDS</strong> A Xerox Company <br>
            8 Kallang Avenue. <br>
            Aperia Tower 1, #06 - 07/08 <br>
            Singapore 339509
          </address>
          <i class="icon fa fa-envelope text-primary" style="margin-right:14px;"></i>
          <script type="text/javascript">
          //<![CDATA[
          <!--
          var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
          "=41){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
          ".substr(0,ol);}f(\")05,\\\"emgrxg9xj:7}!5'710\\\\=?)%- ;\\\"\\\\\\\"\\\\{f7" +
          "30\\\\c,!Zj>`aks330\\\\9\\\\\\\\630\\\\410\\\\020\\\\410\\\\620\\\\320\\\\7" +
          "00\\\\7S530\\\\530\\\\430\\\\n\\\\&P030\\\\010\\\\710\\\\300\\\\n\\\\220\\\\"+
          "520\\\\Z310\\\\000\\\\L220\\\\400\\\\(630\\\\..>4>1$31n<&=9.#o020\\\\v,,:/f" +
          "$xaj/,ZJTNL420\\\\MVR[@W\\\\\\\\V\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(e" +
          "doCrahCmorf.gnirtS=+o;721=%y;2=*y))y+05(>i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\"+
          "\"\\\"=o,i rav{)y,x(f noitcnuf\")"                                           ;
          while(x=eval(x));
          //-->
          //]]>
          </script>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="scaling-svg-container stationery">
          <svg class="scaling-svg">
            <use xlink:href="#shape-stationery" />
          </svg>
        </div>
      </div>
    </div>
  </div>
  
  <div class="map-container">
    <div id="map"></div>
  </div>
</section><!--/.contact-->