<nav id="navbar-spy" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-align-justify"></i>
      </button>
      <a class="navbar-brand" data-scroll href="#top">Creative Design Team</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menu-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a data-scroll href="#team"><i class="fa fa-user"></i> Team</a></li>
        <li><a data-scroll href="#skills"><i class="fa fa-pencil"></i> Skills</a></li>
        <li><a data-scroll href="#portfolio"><i class="icon-showcase"></i> Showcase</a></li>
        <li><a data-scroll href="#contact"><i class="fa fa-bullhorn"></i> Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>