<section id="skills" class="skills">
  <h1>What we do</h1>
  <!-- $('.thumb-col-wrapper').addClass('animated bounceIn'); -->
  <div class="container">
    <div class="thumb-col-wrapper">
      <div class="thumbnail">
        <div class="sme"><i class="fa fa-star"></i> Expert <i class="fa fa-star"></i></div>
        <img src="img/skills/gd.png" alt="">
        <div class="caption">
          <h3>Graphic Design</h3>
          <p>We create high-impact design solutions that answer client's needs.</p>
        </div>
      </div>
    </div>
    <div class="thumb-col-wrapper">
      <div class="thumbnail">
        <div class="sme"><i class="fa fa-star"></i> Expert <i class="fa fa-star"></i></div>
        <img src="img/skills/ani.png" alt="">
        <div class="caption">
          <h3>Animation</h3>
          <p>We combine design and technical knowledge to create information and communication technology (ICT) based products that entertain, educate or inform its users.</p>
        </div>
      </div>
    </div>
    <div class="thumb-col-wrapper">
      <div class="thumbnail">
        <div class="sme"><i class="fa fa-star"></i> Expert <i class="fa fa-star"></i></div>
        <img src="img/skills/wd.png" alt="">
        <div class="caption">
          <h3>Web Design</h3>
          <p>We design our websites to be responsive, delivering optimum performance and visuals for all devices.</p>
        </div>
      </div>
    </div>
    <div class="visible-sm clearfix"></div>
    <div class="thumb-col-wrapper">
      <div class="thumbnail">
        <div class="sme noob"><i class="fa fa-star-half-o"></i> Noobs <i class="fa fa-star-half-o"></i></div>
        <img src="img/skills/fe.png" alt="">
        <div class="caption">
          <h3>Front End Development</h3>
          <p>We create prototypes based on the Bootstrap framework. It is a good platform to see whether the design works well.</p>
        </div>
      </div>
    </div>
    <div class="thumb-col-wrapper">
      <div class="thumbnail">
        <div class="sme noob"><i class="fa fa-star-half-o"></i> Noobs <i class="fa fa-star-half-o"></i></div>
        <img src="img/skills/ux.png" alt="">
        <div class="caption">
          <h3>User Experience</h3>
          <p>Years of experience taught us that User Experience plays a very important role in our job, we strive to learn and master the craft by applying it to our profession</p>
        </div>
      </div>
    </div>
  </div>
</section><!--/.skills-->
<a href="mailto:designers@wds.co?subject=Hello Creative Design Team!"></a>