<section id="team" class="container team">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h2 class="ribbon">Behind The Scene</h2>
      </div>
    </div>
  </div>
  <!-- $('#team text-center').addClass('bounceIn'); -->
  <!-- $('#team circle').addClass('bounceIn'); -->
  <div class="row">
    <div class="col-md-4">
      <div class="circle">
        <img src="img/page/pp-05.png" alt="" />
      </div>
      <article>
        <h3>Madeline Pranatio</h3>
        <p class="lead">Team Lead</p>
        <p>With many years of design background, Madeline leads the iMedia team for all the projects from brainstorming to design execution. Not only foresee any issue or problems encountered upon received a project, she is able to identify her team member’s strengths or weakness and encourages them to explore and challenge beyond their limits.</p>
      </article>
    </div>
    <div class="col-md-4">
      <div class="circle">
        <img src="img/page/pp-06.png" alt="" />
      </div>
      <article>
        <h3>Felix Susanto</h3>
        <p class="lead">Creative Designer</p>
        <p>Armed with years of experience in visual creation, Felix demonstrates his ability in multimedia design using a variety of tools. He often draws or creates illustrations during his free time. Felix has a passion in front-end development and meets his newfound love for Bootstrap. His interests motivate him from executing and building prototypes that benefits the project.</p>
      </article>
    </div>
    <div class="col-md-4">
      <div class="circle">
        <img src="img/page/pp-07.png" alt="" />
      </div>
      <article>
        <h3>Ivy Gue</h3>
        <p class="lead">Creative Designer</p>
        <p>Ivy is a multi-disciplinary designer with experience in both print and web. She enjoys exploring different ideas and learning new ways to create solutions with visual impact. Her obsession with designing keeps her motivated (and of course it will have extra boost if there is good food around). You may find her doing her favourite pastime, Cafehopping.</p>
      </article>
    </div>
  </div>
</section><!--/.team-->