<section id="top" class="billboard">
  <div class="text">
    <h1>DESIGN BETTER. FASTER. TOGETHER.</h1>
    <p class="lead">The world's leading prototyping, collaboration &amp; workflow platform</p>
    <p><a href="#" class="btn btn-primary">Learn More</a></p>
  </div>
</section>
<section class="top-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="title">
          <h1>creative<span>design</span>team</h1>
          <div class="scaling-svg-container pencil">
            <svg class="scaling-svg">
              <use xlink:href="#shape-pencil" />
            </svg>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <p class="lead">We are a small team of designers based in Singapore. We creates graphic user interface and design solutions that have high visual impact and make WDS products deliver on their vision and deliver value to the end customer.</p>
      </div>
    </div>
  </div>
</section><!--/.top-section -->
<div class="bg visible-xs"></div>
<div class="bg hidden-xs" data-enllax-ratio="-0.5" data-enllax-type="foreground"></div>