.contact{
  position: relative;
  padding-top: 50px;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQIW2NkwASSjGhikgwMDM+RBcECIEUwQbgATBBFACQIAKWBBB8HjQwoAAAAAElFTkSuQmCC) repeat;
  background-color: #FFF1DF;
}

.bubble{
  position: relative;
  margin-bottom: 20px;
  padding:20px 40px;
  border-radius:10px;
  background-color:#fff;
  box-shadow:-15px 15px rgba(black,0.1);
  h3{
    margin-top: 0;
  }
  &:after{
    content:"";
    position: absolute;
    top:100%;
    border:10px solid transparent;
    border-bottom:none;
    border-top-color:#fff;
    @media(min-width:768px){
      top:50px;
      left:100%;
      border:10px solid transparent;
      border-right:none;
      border-left-color:#fff;

    }
  }
}

.location, .location a{
  position: relative;
  padding-left:30px;
  .icon{
    position: absolute;
    left: 0;
    font-size: 140%;
  }
}

#map{
  position: relative;
  padding-bottom:50%;
  pointer-events:none;
  clip-path:polygon(0 0, 25% 5%, 50% 0, 75% 5%, 100% 0, 100% 100%, 0 100% );
  @media(min-width:768px){
    padding-bottom:0;
    height:500px;
  }
  &:after{
    $transparent:rgba(0,0,0,0);
    $stripe:rgba(black,0.05);
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include background-image(linear-gradient(to right, $transparent 25%, $stripe 25%, $stripe 50%, $transparent 50%, $transparent 75%, $stripe 75%));
    pointer-events:none;
  }
}