.portfolio{
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-top:-80px;
  background:url(../img/page/wood-04.png);
  clip-path:polygon(0 0, 50% 80px,100% 0,100% 100%,0 100%);
}

.description{
  position: relative;
  font-size: 1.2em;
  text-align: center;
  font-weight: 300;
  z-index:1;
  @media(min-width:481px){
    font-size: 1.5em;
  }
  @media(min-width:768px){
    width:60%;
    margin-left: auto;
    margin-right: auto;
  }
  @media(min-width:991px){
    width:50%;
  }
}
.thumbnails{
  text-align: center;
  img{
    margin:5px;
  }
}
.control{
  position: relative;
  margin-bottom: 40px;
  z-index:1;
  >a{
    margin-bottom: 5px;
  }
}

.grid {
  position: relative;
  width: 320px;
  margin:0 auto;
  z-index:1;
  @media(min-width:640px){
    width: 620px;
  }
  @media(min-width:950px){
    width: 930px;
  }
  @media(min-width:1260px){
    width: 1240px;
  }
}