.skills{
  position: relative;
  min-height: 300px;
  padding: 100px 0;
  overflow:hidden;
  background: url(../img/page/bg-pattern.png);
  background-attachment:fixed;
  clip-path:polygon(0 0, 50% 80px,100% 0,100% 97%,50% 100%,0 97%);
  >h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 20px;
    color:#fff;
  }
  h3{
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color:$blue;
  }
  .thumbnail{
    border-radius:0;
    border:none;
    box-shadow: 0 20px 0 -10px rgba(black, 0.3);
  }
  img{
    width:100%;
    height:auto;
  }
  @media(min-width:768px){
    clip-path:polygon(0 0, 50% 80px,100% 0,100% 90%,50% 100%,0 90%);
  }
}


.thumb-col-wrapper{
  padding: 0 10px;
  float:left;
  @media(min-width:768px){
    width:33.33%;
  }
  @media(min-width:992px){
    width: 20%;
  }
  @media(min-width:768px) and (max-width:991px){
    .clearfix + &{
      margin-left:16.667%;
    }
  }
}
.thumbnail{
  @media(min-width:356px) and (max-width:767px){
    img{
      vertical-align: top;
      display:inline-block;
      width: 40%;
    }
    .caption{
      display:inline-block;
      width: 58%;
    }
  }
}

.thumbnail{
  position: relative;
  .sme{
    position: absolute;
    top:10px;
    left:-10px;
    display:inline-block;
    background-color: $green;
    padding: 0 20px;
    box-shadow:0 17px 0 -10px rgba(black,0.5);
    font-size: 19px;
    text-transform: uppercase;
    color:#fff;
    &:after{
      content:"";
      position: absolute;
      left:0;
      top:100%;
      width: 0;
      height: 0;
      border:10px solid transparent;
      border-left:none;
      border-top:none;
      border-right-color:darken($green,20%);
    }
  }
  .sme.noob{
    background-color:$blue;
    &:after{
      border-right-color:darken($blue,20%);
    }
  }
}

