.scaling-svg-container {
 position: relative; 
 height: 0; 
 width: 100%; 
 padding: 0;
 padding-bottom: 100%; 
}
.scaling-svg {
 position: absolute; 
 height: 100%; 
 width: 100%; 
 left: 0; 
 top: 0;
}

.pencil{
  margin:20px 0;
  padding-bottom:unquote((52/269*100)+'%');
}

.cup{
  display:none;
  @media(max-width:619px){
    opacity:0.3;
  }
  @media(min-width:481px){
    $size:300px;
    display:block;
    position: absolute;
    left:-100px;
    width: $size;
    height: $size;
    z-index:-1;
  }
  @media(min-width:991px){
    width: 360px;
    height: 360px;
  }
}

.notes{
  display:none;
  @media(max-width:619px){
    opacity:0.3;
  }
  @media(min-width:481px){
    $size:300px;
    display:block;
    position: absolute;
    right:-110px;
    width: $size;
    height: $size;
    z-index:-1;
  }
  @media(min-width:991px){
    width: 360px;
    height: 360px;
  }
}