@mixin findRatio($width, $height){
  padding-bottom:unquote(($height/$width*100)+'%');
}
.scaling-svg-container {
 position: relative; 
 height: 0; 
 width: 100%; 
 padding: 0;
 padding-bottom: 100%; 
}
.scaling-svg {
 position: absolute; 
 height: 100%; 
 width: 100%; 
 left: 0; 
 top: 0;
}
.newshift{
  margin-bottom: 20px;
  @include findRatio(466,73);
  @media(max-width:767px){
    margin-top: 20px;
  }
}
.mascot{
  @include findRatio(279,516);
}
.chameleon{
  @include findRatio(651,512);
}

.pencil{
  margin:20px 0;
  @include findRatio(269,52);
}
.stationery2{
  @include findRatio(265,290);
}
.stationery{
  max-width:560px;
  margin: 0 auto;
  @include findRatio(351,270);
}

.cup, .notes{
  display:none;
  @media(min-width:768px){
    $size:300px;
    display:block;
    position: absolute;
    width: $size;
    height: $size;
    z-index:0;
  }
  @media(min-width:991px){
    width: 360px;
    height: 360px;
  }
}

@media(min-width:768px){
  .cup{
    left:0;
  }
  .notes{
    right:0;
  }
}