.billboard{
  position: relative;
  background:url(../img/page/jumbo.jpg) no-repeat;
  background-size:cover;
  background-position:50% 50%;
  background-attachment:fixed;
  .text{
    position: relative;
    padding:100px 0;
    color:#fff;
    text-align: center;
    z-index: 1;
  }
  &:before{
    content:"";
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background:rgba(black,0.5);
  }
  @media(min-width:768px){
    padding-bottom:0;
    height:500px;
    .text{
      position: absolute;
      top:50%;
      width: 100%;
      padding:0 30px;
      transform:translateY(-50%);
    }
  }
}

.title{
  h1{
    margin-top: 0;
    font-weight: 700;
    color:#fff;
  }
  span:before, span:after{
    content:"\0020";
  }
  @media(min-width:768px){
    text-align: right;
    span{display:block;}
  }
}

.top-section{
  position: relative;
  min-height: 300px;
  padding-top:120px;
  background: $yellow;
  &:before, &:after{
    content:"";
    display:block;
    position: absolute;
    width: 100%;
    height:100px;
    clip-path:polygon(0 100%, 0 0, 100% 0);
  }
  &:before{
    background-color:tint($yellow,40%);
    top:0;
    left:0;
  }
  &:after{
    left:0;
    top:100%;
    margin-top: -1px;
    background-color:$yellow;
  }
}

.bg{
  position: relative;
  height: 300px;
  margin-bottom: -200px;
  background-color: tint($yellow,40%);
  z-index: -1;
  &:before, &:after{
    content:"";
    display:block;
    position: absolute;
    height:100px;
    width:100%;
    background:tint($yellow,40%);
  }
  &:before{
    bottom:100%;
  }
  &:after{
    top:100%;
    margin-top: -1px;
    clip-path:polygon(0 0, 100% 0, 100% 100%);
  }
}
